.about-me {
  height: 100vh;
  width: 100%;
  display: flex;
  color: #f2f2f2;
  background: rgb(95,19,103);
  background: linear-gradient(0deg, rgba(95,19,103,1) 0%, rgba(4,4,4,1) 80%);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  
  .about-me-contenedor {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  @keyframes showAnimation {
    from {
      transform: translate(0, 100px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .about-me-contenedor > div {
    max-width: 70%;
  }

  .about-me-contenedor > div > img{
    width: 150px;
    height: 150px;
    
  }
  
  .about-me-contenedor > div > h2,
  .about-me-contenedor > div > p {
    line-height: 35px;
  }
  
  .about-me-contenedor > div > h2 {
    font-size: 40px;
    margin-bottom: 35px;
  }
  
  .about-me-contenedor > div > p {
    font-size: 20px;
  }


  
  @media screen and (max-width: 1200px) {
    .about-me-contenedor {
      width: 85%;
    }
  
    .about-me-contenedor > div {
      max-width: 100%;
    }
  
    .about-me-contenedor > div > h2 {
      font-size: 30px;
    }

    .about-me-contenedor > div > p{
      font-size: 18px;
    }
  }


  @media screen and (max-width: 600px) {
    .about-me-footer {
      display: none;
    }

    .about-me-contenedor{
      text-align: center;
    }

    .about-me-contenedor > div > h2 {
      font-size: 24px;
    }

    .about-me-contenedor > div > p{
      font-size: 16px;
    }

    .about-me-contenedor > div > img{
      width: 100px;
      height: 100px;
      text-align: center;
      margin-top: 30px;
    }

  }
  